college-b/src/main/resources/schema/studentB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="学生集">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="学生" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="学号" type="xs:string"/>
              <xs:element name="姓名" type="xs:string"/>
              <xs:element name="性别" type="xs:string"/>
              <xs:element name="专业" type="xs:string"/>
              <xs:element name="密码" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
