college-a/src/main/resources/schema/classA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="课程集">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="课程" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="课程编号" type="xs:string"/>
              <xs:element name="课程名称" type="xs:string"/>
              <xs:element name="课时" type="xs:integer" minOccurs="0"/>
              <xs:element name="学分" type="xs:decimal"/>
              <xs:element name="授课老师" type="xs:string"/>
              <xs:element name="授课地点" type="xs:string"/>
              <xs:element name="共享">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
