college-a/src/main/resources/schema/studentA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="学生集">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="学生" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="学号" type="xs:string"/>
              <xs:element name="姓名" type="xs:string"/>
              <xs:element name="性别">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="男"/>
                    <xs:enumeration value="女"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="院系" type="xs:string"/>
              <xs:element name="关联账户" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
