common/src/main/resources/schema/formatChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="choices">
    <xs:complexType><xs:sequence>
      <xs:element name="choice" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType><xs:sequence>
          <xs:element name="sid"   type="xs:string"/>
          <xs:element name="cid"   type="xs:string"/>
          <xs:element name="score" type="xs:unsignedByte" minOccurs="0"/>
          <xs:element name="originStudent">
            <xs:simpleType><xs:restriction base="xs:string">
              <xs:enumeration value="A"/><xs:enumeration value="B"/><xs:enumeration value="C"/>
            </xs:restriction></xs:simpleType>
          </xs:element>
          <xs:element name="originCourse">
            <xs:simpleType><xs:restriction base="xs:string">
              <xs:enumeration value="A"/><xs:enumeration value="B"/><xs:enumeration value="C"/>
            </xs:restriction></xs:simpleType>
          </xs:element>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>
