common/src/main/resources/schema/formatStudent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType><xs:sequence>
      <xs:element name="student" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType><xs:sequence>
          <xs:element name="id"     type="xs:string"/>
          <xs:element name="name"   type="xs:string"/>
          <xs:element name="sex"    type="xs:string"/>
          <xs:element name="major"  type="xs:string"/>
          <xs:element name="origin">
            <xs:simpleType><xs:restriction base="xs:string">
              <xs:enumeration value="A"/><xs:enumeration value="B"/><xs:enumeration value="C"/>
            </xs:restriction></xs:simpleType>
          </xs:element>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>
